# Vsftpd configuration
# {{ ansible_managed }}

#
# General settings
#

connect_from_port_20={{ vsftpd_connect_from_port_20 }}
listen={{ vsftpd_listen }}
listen_ipv6={{ vsftpd_listen_ipv6 }}
pam_service_name={{ vsftpd_service }}
syslog_enable={{ vsftpd_syslog_enable }}

#
# Access control for anonymous users
#
anonymous_enable={{ vsftpd_anonymous_enable }}
{% if vsftpd_anon_root is defined %}
anon_root={{ vsftpd_anon_root }}
{% endif %}

#
# Access control for registered users
#
local_enable={{ vsftpd_local_enable }}
{% if vsftpd_local_root is defined %}
local_root={{ vsftpd_local_root }}
{% endif %}
local_umask={{ vsftpd_local_umask }}

write_enable={{ vsftpd_write_enable }}

{% if vsftpd_config is defined %}
#
# Custom settings
#
{% for key, value in vsftpd_config.iteritems() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
